@model ProgramSearchQueryModel

@{
    ViewData["Title"] = "Workouts";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-5">
            <label style="font-weight:bold" asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Search">
        </div>

        <div class="form-group col-md-5">
            <div class="form-group">
                <label style="font-weight:bold" asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Latest Programs</option>
                    <option value="1">Name Ascending</option>
                    <option value="2">Name Descending</option>
                </select>
            </div>
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalPrograms / ProgramSearchQueryModel.ProgramsPerPage);
}



@if (!Model.Programs.Any())
{
    <h2 class="text-center" style="color:black; font-weight:bold">There are no programs</h2>
}
else
{
    <div class="row">
        @foreach (var program in Model.Programs)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <a asp-controller="Programs" asp-action="Details" asp-route-id="@program.Id"><img class="card-img-top" src="@program.ImageUrl" alt="Card image cap"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@program.Name</h5>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark float-left @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Programs"
               asp-action="All"
               asp-route-currentPage="@previousPage"
               asp-route-brand="@Model.Level"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.Sorting)" style="background-color:black"><strong>Previous</strong></a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-dark float-right @(Model.CurrentPage == maxPage || !Model.Programs.Any() ? "disabled" : string.Empty)"
               asp-controller="Programs"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-brand="@Model.Level"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.Sorting)" style="background-color:black"><strong>Next</strong></a>
        </div>
    </div>
}



