@model IEnumerable<ProgramServiceModel>

@{
    ViewBag.Title = "My Programs";
    ViewBag.AllowProductEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any workouts!</h2>
}
else
{
    <table class="table table-bordered table-striped" style="width:100%; background-color:white">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Id
                </th>
                <th>
                    Level
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model)
            {
                <tr>
                    <td width="30%"><img width="100" class="mr-3" src="@program.ImageUrl" /></td>
                    <td width="30%">@program.Id</td>
                    <td width="30%">@program.Level</td>
                    <td><a asp-controller="Programs" asp-action="Edit" asp-route-Id="@program.Id" class="btn btn-warning">Edit</a></td>
                    <td><a asp-controller="Programs" asp-action="Delete" asp-route-Id="@program.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="row" style="padding-top: 20px">
        <a asp-controller="Programs" asp-action="Add" class="btn btn-dark offset-5" style="background-color:black"><strong>Add new program</strong></a>
</div>

