@model ProductServiceModel

@{
    this.ViewData["Title"] = "Buy Product";
}


<div class="row">
    <div class="col-md-6">
        <div class="pro-img-details">
            <img src="@Model.ImageUrl">
        </div>
    </div>
    <div class="col-md-6">
        <h1 class="pro-d-title font-weight-bold text-center;" style="font-size:250%;text-align:center; color:black">
            @Model.Name
        </h1>
        <div class="m-bot15" style="font-size:120%"> <strong>Price : </strong><span class="price">@Model.Price</span></div>
        <div class="m-bot15" style="font-size:120%"> <strong>Flavour : </strong><span class="price">@Model.Flavour</span></div>
        <hr />
        <p>
            <a asp-controller="Deliveries" asp-action="Order" asp-route-id="@Model.Id" type="button" class="btn btn-outline-dark offset-4" style="font-weight:bold; width:40%">Buy It Now</a>
        </p>
        <p>
            @Model.Description
        </p>

    </div>
</div>
