@model IEnumerable<ProductServiceModel>

@{
    ViewBag.Title = "My Products";
    ViewBag.AllowProductEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any products!</h2>
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Brand @product.Price</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">View</a>
                    @if (ViewBag.AllowProductEdit == true)
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>