@model IEnumerable<ProductServiceModel>

@{
    ViewBag.Title = "My Products";
    ViewBag.AllowProductEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any products!</h2>
    <a asp-controller="Products" asp-action="Add" class="btn btn-warning">Add new product</a>
}
else
{
    <table class="table table-bordered table-striped" style="width:100%; background-color:white">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Id
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Price
                </th>
                <th>
                    Flavour
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td width="30%"><img width="100" class="mr-3" src="@product.ImageUrl" /></td>
                    <td width="30%">@product.Id</td>
                    <td width="30%">@product.Brand</td>
                    <td width="30%">@product.Price</td>
                    <td width="30%">@product.Flavour</td>
                    <td><a asp-controller="Products" asp-action="Edit" asp-route-Id="@product.Id" class="btn btn-warning">Edit</a></td>
                    <td><a asp-controller="Products" asp-action="Delete" asp-route-Id="@product.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Products" asp-action="Add" class="btn btn-outline-dark">Add new product</a>
}
